env/
venv/
ENV/
pyvenv.cfg
.env
data/corpus/audio/
temp/
*.wav
models/whisper.cpp/build/
models/whisper.cpp/models/*.bin
app/coqui_tts/*.pth
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
Thumbs.db
ehthumbs.db
Desktop.ini